<!DOCTYPE html>

<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    @Styles.Render("~/bundles/css/bootstrap")

    <!-- Custom CSS -->
    @Styles.Render("~/bundles/css/custom-style")

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    @Scripts.Render("~/bundles/js/jquery")
    @Scripts.Render("~/bundles/js/bootstrap-bundle")

    <title>@Page.Title</title>
    @RenderSection("head", required: false)
    <style>
        html, body {
            height: 100%;
        }
    </style>
</head>
<body>
    <!-- Main Contents -->
    @RenderBody()
</body>
</html>
